<div class="grid grid-pad" @enterStateP>
    <div style="float:left;margin-top: 100px;" *ngFor="let album of albums">
            <div class="module song">
                <div class="card" style="width: 18rem;">
                    <a style="text-decoration:none; color:black" class="col-1-4" routerLink="/album/{{album.nomAlbum}}">
                    <img src="{{album.imatgeAlbum}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title">{{album.nomAlbum}}</h2>
                        <a style="text-decoration:none; color:black" routerLink="/artista/{{album.artista}}"><h3 class="card-title">{{album.artista}}</h3></a>
                    </div>
                  </div>
            </div>
    </div>
</div>