.container {
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 150;
  }
  
  .example-element-description {
    padding: 16px;
  }

  .example-element-button {
    padding-top: 50px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    background-color: white;
  }

  .taula {
    margin-left: 20px;
    margin-right: 20px;
  }

  .cerca {
    margin-top: 50px;
  }