<div class="container" *ngFor="let canco of cancons">
    <div class="panel-group">
        <div id="panell" class="panel panel-success">
            <div class="panel-heading">{{canco.nom}}</div>
            <button mat-icon-button color="warn" (click)="guardar(canco.id)"><mat-icon>favorite</mat-icon></button>
            <button mat-icon-button (click)="mostrar(canco.id)"><mat-icon>favorite</mat-icon></button>
        </div>
    </div>
</div>

<div class="favorits">
    <h1 style="color: white;" class="display-3">Favorits</h1>
    <div class="panel-group">
        <div id="panellFav" class="panel panel-warning">
            <div class="panel-heading"><p id="resultat"></p></div>
        </div>
    </div>
    <div id="resultat" style="color: white;"></div>
</div>
